* text=auto !eol
/Makefile.am eol=lf
bin/Makefile.am eol=lf
bin/cob-config.in eol=lf
bin/cobcrun.c eol=lf
build_aux/bootstrap eol=lf
build_aux/compile eol=lf
build_aux/config.guess eol=lf
build_aux/config.rpath eol=lf
build_aux/config.sub eol=lf
build_aux/depcomp eol=lf
build_aux/install-sh eol=lf
build_aux/ltmain.sh eol=lf
build_aux/mdate-sh eol=lf
build_aux/missing eol=lf
build_aux/mkinstalldirs eol=lf
build_aux/texinfo.tex eol=lf
build_aux/ylwrap eol=lf
build_windows/ChangeLog.txt eol=crlf
build_windows/README.txt eol=crlf
build_windows/config.h.in eol=crlf
build_windows/defaults.h.in eol=crlf
build_windows/makebisonflex.bat eol=crlf
build_windows/makedist.bat eol=crlf
build_windows/resource.h eol=crlf
build_windows/set_env_vs.bat eol=crlf
build_windows/set_env_vs_dist.bat eol=crlf
build_windows/set_env_vs_dist_x64.bat eol=crlf
build_windows/set_env_vs_x64.bat eol=crlf
build_windows/version_cobc.rc eol=crlf
build_windows/version_cobcrun.rc eol=crlf
build_windows/version_libcob.rc eol=crlf
build_windows/vs2005/GnuCOBOL.sln eol=crlf
build_windows/vs2005/cobc.vcproj eol=crlf
build_windows/vs2005/cobc.vcproj.user eol=crlf
build_windows/vs2005/cobcrun.vcproj eol=crlf
build_windows/vs2005/cobcrun.vcproj.user eol=crlf
build_windows/vs2005/libcob.vcproj eol=crlf
build_windows/vs2005/libcob.vcproj.user eol=crlf
build_windows/vs2008/GnuCOBOL.sln eol=crlf
build_windows/vs2008/cobc.vcproj eol=crlf
build_windows/vs2008/cobc.vcproj.user eol=crlf
build_windows/vs2008/cobcrun.vcproj eol=crlf
build_windows/vs2008/cobcrun.vcproj.user eol=crlf
build_windows/vs2008/libcob.vcproj eol=crlf
build_windows/vs2008/libcob.vcproj.user eol=crlf
build_windows/vs2010/GnuCOBOL.sln eol=crlf
build_windows/vs2010/cobc.vcxproj eol=crlf
build_windows/vs2010/cobc.vcxproj.filters eol=crlf
build_windows/vs2010/cobc.vcxproj.user eol=crlf
build_windows/vs2010/cobcrun.vcxproj eol=crlf
build_windows/vs2010/cobcrun.vcxproj.filters eol=crlf
build_windows/vs2010/cobcrun.vcxproj.user eol=crlf
build_windows/vs2010/libcob.vcxproj eol=crlf
build_windows/vs2010/libcob.vcxproj.filters eol=crlf
build_windows/vs2010/libcob.vcxproj.user eol=crlf
build_windows/vs2010/libsupport.vcxproj eol=crlf
build_windows/vs2010/libsupport.vcxproj.filters eol=crlf
build_windows/vs2010/libsupport.vcxproj.user eol=crlf
build_windows/vs2012/GnuCOBOL.sln eol=crlf
build_windows/vs2012/cobc.vcxproj eol=crlf
build_windows/vs2012/cobc.vcxproj.filters eol=crlf
build_windows/vs2012/cobc.vcxproj.user eol=crlf
build_windows/vs2012/cobcrun.vcxproj eol=crlf
build_windows/vs2012/cobcrun.vcxproj.filters eol=crlf
build_windows/vs2012/cobcrun.vcxproj.user eol=crlf
build_windows/vs2012/libcob.vcxproj eol=crlf
build_windows/vs2012/libcob.vcxproj.filters eol=crlf
build_windows/vs2012/libcob.vcxproj.user eol=crlf
build_windows/vs2012/libsupport.vcxproj eol=crlf
build_windows/vs2012/libsupport.vcxproj.filters eol=crlf
build_windows/vs2012/libsupport.vcxproj.user eol=crlf
build_windows/vs2013/GnuCOBOL.sln eol=crlf
build_windows/vs2013/cobc.vcxproj eol=crlf
build_windows/vs2013/cobc.vcxproj.filters eol=crlf
build_windows/vs2013/cobcrun.vcxproj eol=crlf
build_windows/vs2013/cobcrun.vcxproj.filters eol=crlf
build_windows/vs2013/libcob.vcxproj eol=crlf
build_windows/vs2013/libcob.vcxproj.filters eol=crlf
build_windows/vs2013/libsupport.vcxproj eol=crlf
build_windows/vs2013/libsupport.vcxproj.filters eol=crlf
build_windows/vs2015/GnuCOBOL.sln eol=crlf
build_windows/vs2015/cobc.vcxproj eol=crlf
build_windows/vs2015/cobc.vcxproj.filters eol=crlf
build_windows/vs2015/cobcrun.vcxproj eol=crlf
build_windows/vs2015/cobcrun.vcxproj.filters eol=crlf
build_windows/vs2015/libcob.vcxproj eol=crlf
build_windows/vs2015/libcob.vcxproj.filters eol=crlf
build_windows/vs2015/libsupport.vcxproj eol=crlf
build_windows/vs2015/libsupport.vcxproj.filters eol=crlf
build_windows/vs2017/GnuCOBOL.sln eol=crlf
build_windows/vs2017/cobc.vcxproj eol=crlf
build_windows/vs2017/cobc.vcxproj.filters eol=crlf
build_windows/vs2017/cobcrun.vcxproj eol=crlf
build_windows/vs2017/cobcrun.vcxproj.filters eol=crlf
build_windows/vs2017/libcob.vcxproj eol=crlf
build_windows/vs2017/libcob.vcxproj.filters eol=crlf
build_windows/vs2017/libsupport.vcxproj eol=crlf
build_windows/vs2017/libsupport.vcxproj.filters eol=crlf
cobc/Makefile.am eol=lf
config/Makefile.am eol=lf
config/rm-strict.conf -text
config/rm.conf -text
config/rm.words -text
/configure.ac eol=lf
copy/Makefile.am eol=lf
/create_win_dist.sh eol=lf
doc/Makefile.am eol=lf
doc/cobcinfo.sh eol=lf
doc/fdl.texi eol=lf
doc/gnucobol.texi eol=lf
extras/Makefile.am eol=lf
/gnucobol.spec eol=lf
lib/Makefile.am eol=lf
/libcob.h eol=lf
libcob/Makefile.am eol=lf
m4/codeset.m4 eol=lf
m4/extern-inline.m4 -text
m4/fcntl-o.m4 -text
m4/gettext.m4 eol=lf
m4/glibc2.m4 -text
m4/glibc21.m4 -text
m4/iconv.m4 eol=lf
m4/intdiv0.m4 -text
m4/intl.m4 -text
m4/intldir.m4 -text
m4/intlmacosx.m4 eol=lf
m4/intmax.m4 -text
m4/inttypes-pri.m4 -text
m4/inttypes_h.m4 -text
m4/lcmessage.m4 -text
m4/lib-ld.m4 eol=lf
m4/lib-link.m4 eol=lf
m4/lib-prefix.m4 eol=lf
m4/libtool.m4 eol=lf
m4/lock.m4 -text
m4/longlong.m4 -text
m4/ltoptions.m4 eol=lf
m4/ltsugar.m4 eol=lf
m4/ltversion.m4 eol=lf
m4/lt~obsolete.m4 eol=lf
m4/m4_ax_code_coverage.m4 -text
m4/nls.m4 eol=lf
m4/po.m4 eol=lf
m4/printf-posix.m4 -text
m4/progtest.m4 eol=lf
m4/size_max.m4 -text
m4/stdint_h.m4 -text
m4/threadlib.m4 -text
m4/uintmax_t.m4 -text
m4/visibility.m4 -text
m4/wchar_t.m4 -text
m4/wint_t.m4 -text
m4/xsize.m4 -text
po/LINGUAS -text
po/Makefile.in.in -text
po/Makevars -text
po/POTFILES.in -text
po/Rules-quot -text
po/boldquot.sed -text
po/de.po -text
po/en@boldquot.header -text
po/en@quot.header -text
po/es.po -text
po/gnucobol.pot -text
po/insert-header.sin -text
po/it.po -text
po/ja.po -text
po/nl.po -text
po/pt.po -text
po/quot.sed -text
po/remove-potcdate.sin -text
po/stamp-po -text
po/update_linguas.sh eol=lf
tests/Makefile.am eol=lf
tests/atlocal.in eol=lf
tests/atlocal_valgrind eol=lf
tests/atlocal_win eol=lf
tests/cobol85/DB.txt -text
tests/cobol85/DBNOIX.txt -text
tests/cobol85/EXEC85.conf.in -text
tests/cobol85/IC.txt -text
tests/cobol85/IF.txt -text
tests/cobol85/IX.txt -text
tests/cobol85/Makefile.am -text
tests/cobol85/NC.txt -text
tests/cobol85/OB.txt -text
tests/cobol85/RL.txt -text
tests/cobol85/RW.txt -text
tests/cobol85/SG.txt -text
tests/cobol85/SM.txt -text
tests/cobol85/SQ.txt -text
tests/cobol85/ST.txt -text
tests/cobol85/expand.pl -text
tests/cobol85/report.pl -text
tests/cobol85/summary.pl -text
tests/cobol85/summary.txt -text
tests/cobol85/summarynoix.txt -text
tests/listings-sed.sh eol=lf
tests/package.m4 eol=lf
tests/testsuite.at eol=lf
tests/testsuite.src/configuration.at eol=lf
tests/testsuite.src/data_binary.at eol=lf
tests/testsuite.src/data_display.at eol=lf
tests/testsuite.src/data_packed.at eol=lf
tests/testsuite.src/data_pointer.at eol=lf
tests/testsuite.src/listings.at eol=lf
tests/testsuite.src/run_accept.at eol=lf
tests/testsuite.src/run_extensions.at eol=lf
tests/testsuite.src/run_file.at eol=lf
tests/testsuite.src/run_functions.at eol=lf
tests/testsuite.src/run_fundamental.at eol=lf
tests/testsuite.src/run_initialize.at eol=lf
tests/testsuite.src/run_misc.at eol=lf
tests/testsuite.src/run_refmod.at eol=lf
tests/testsuite.src/run_reportwriter.at eol=lf
tests/testsuite.src/run_returncode.at eol=lf
tests/testsuite.src/run_subscripts.at eol=lf
tests/testsuite.src/syn_copy.at eol=lf
tests/testsuite.src/syn_definition.at eol=lf
tests/testsuite.src/syn_file.at eol=lf
tests/testsuite.src/syn_functions.at eol=lf
tests/testsuite.src/syn_misc.at eol=lf
tests/testsuite.src/syn_move.at eol=lf
tests/testsuite.src/syn_multiply.at eol=lf
tests/testsuite.src/syn_occurs.at eol=lf
tests/testsuite.src/syn_redefines.at eol=lf
tests/testsuite.src/syn_refmod.at eol=lf
tests/testsuite.src/syn_reportwriter.at eol=lf
tests/testsuite.src/syn_screen.at eol=lf
tests/testsuite.src/syn_set.at eol=lf
tests/testsuite.src/syn_subscripts.at eol=lf
tests/testsuite.src/syn_value.at eol=lf
tests/testsuite.src/used_binaries.at eol=lf
