/.deps
/Makefile
/atlocal
bin/.deps
bin/Makefile
bin/atlocal
bin/cobcrun
/cob-config
cobc/.deps
cobc/Makefile
cobc/atlocal
cobc/cobc
/config.h
/config.log
/config.status
config/.deps
config/Makefile
config/atlocal
copy/.deps
copy/Makefile
copy/atlocal
/defaults.h
doc/.deps
doc/Makefile
doc/atlocal
lib/.deps
lib/Makefile
lib/atlocal
libcob/.deps
libcob/Makefile
libcob/atlocal
/libtool
m4/.deps
m4/Makefile
m4/atlocal
po/.deps
po/Makefile
po/Makefile.in
po/POTFILES
po/atlocal
/stamp-h1
tests/.deps
tests/Makefile
tests/atconfig
tests/atlocal
tests/cobol85/.deps
tests/cobol85/EXEC85
tests/cobol85/IC
tests/cobol85/IF
tests/cobol85/IX
tests/cobol85/Makefile
tests/cobol85/NC
tests/cobol85/OB
tests/cobol85/RL
tests/cobol85/SG
tests/cobol85/SM
tests/cobol85/SQ
tests/cobol85/ST
tests/cobol85/atlocal
tests/cobol85/copy
tests/cobol85/copyalt
tests/cobol85/newcob.val
tests/cobol85/summary.log
tests/testsuite.dir
tests/testsuite.log
tests/testsuite.src/Makefile
tests/testsuite.src/atlocal
