/*.tar.gz
/.deps
/Makefile
/atlocal
/autom4te.cache
bin/.deps
bin/Makefile
bin/atlocal
bin/cob-config
bin/cobcrun
cobc/.deps
cobc/Makefile
cobc/atlocal
cobc/cobc
cobc/parser.output
/config.h
/config.log
/config.status
config/.deps
config/Makefile
config/atlocal
copy/.deps
copy/Makefile
copy/atlocal
/defaults.h
extras/Makefile
lib/.deps
lib/Makefile
lib/atlocal
libcob/.deps
libcob/Makefile
libcob/atlocal
/libtool
m4/.deps
m4/Makefile
m4/atlocal
po/.deps
po/Makefile
po/Makefile.in
po/POTFILES
po/atlocal
po/remove-potcdate.sed
/stamp-h1
tests/.deps
tests/Makefile
tests/atconfig
tests/atlocal
tests/cobol85/.deps
tests/cobol85/EXEC85
tests/cobol85/IC
tests/cobol85/IF
tests/cobol85/IX
tests/cobol85/Makefile
tests/cobol85/NC
tests/cobol85/OB
tests/cobol85/RL
tests/cobol85/SG
tests/cobol85/SM
tests/cobol85/SQ
tests/cobol85/ST
tests/cobol85/atlocal
tests/cobol85/copy
tests/cobol85/copyalt
tests/cobol85/newcob.val
tests/cobol85/summary.log
tests/data-rep.dir
tests/data-rep.log
tests/data-rep.src/Makefile
tests/data-rep.src/atlocal
tests/run.dir
tests/run.log
tests/run.src/Makefile
tests/run.src/atlocal
tests/syntax.dir
tests/syntax.log
tests/syntax.src/Makefile
tests/syntax.src/atlocal
texi/.deps
texi/Makefile
texi/atlocal
