* text=auto !eol
/ABOUT-NLS -text
/AUTHORS -text
/COPYING -text
/COPYING.DOC -text
/COPYING.LESSER -text
/ChangeLog -text
/INSTALL -text
/Makefile.am -text
/Makefile.in -text
/NEWS -text
/README -text
/THANKS -text
/TODO -text
/aclocal.m4 -text
bin/ChangeLog -text
bin/Makefile.am -text
bin/Makefile.in -text
bin/cob-config.in -text
bin/cobcrun.c -text
build_windows/README -text
build_windows/config.h.bdb.win -text
build_windows/config.h.vb.win -text
build_windows/makedist.bat -text
build_windows/resource.h -text
build_windows/set_env_vs.bat -text
build_windows/set_env_vs_dist.bat -text
build_windows/set_env_vs_dist_x64.bat -text
build_windows/set_env_vs_x64.bat -text
build_windows/vc10/GNU[!!-~]Cobol.sln -text
build_windows/vc10/cobc.vcxproj -text
build_windows/vc10/cobc.vcxproj.filters -text
build_windows/vc10/cobc.vcxproj.user -text
build_windows/vc10/cobcrun.vcxproj -text
build_windows/vc10/cobcrun.vcxproj.filters -text
build_windows/vc10/cobcrun.vcxproj.user -text
build_windows/vc10/config.h -text
build_windows/vc10/defaults.h -text
build_windows/vc10/libcob.vcxproj -text
build_windows/vc10/libcob.vcxproj.filters -text
build_windows/vc10/libcob.vcxproj.user -text
build_windows/vc10/libsupport.vcxproj -text
build_windows/vc10/libsupport.vcxproj.filters -text
build_windows/vc10/libsupport.vcxproj.user -text
build_windows/vc11/GNU[!!-~]Cobol.sln -text
build_windows/vc11/cobc.vcxproj -text
build_windows/vc11/cobc.vcxproj.filters -text
build_windows/vc11/cobc.vcxproj.user -text
build_windows/vc11/cobcrun.vcxproj -text
build_windows/vc11/cobcrun.vcxproj.filters -text
build_windows/vc11/cobcrun.vcxproj.user -text
build_windows/vc11/config.h -text
build_windows/vc11/defaults.h -text
build_windows/vc11/libcob.vcxproj -text
build_windows/vc11/libcob.vcxproj.filters -text
build_windows/vc11/libcob.vcxproj.user -text
build_windows/vc11/libsupport.vcxproj -text
build_windows/vc11/libsupport.vcxproj.filters -text
build_windows/vc11/libsupport.vcxproj.user -text
build_windows/vc12/GNU[!!-~]Cobol.sln -text
build_windows/vc12/cobc.vcxproj -text
build_windows/vc12/cobc.vcxproj.filters -text
build_windows/vc12/cobcrun.vcxproj -text
build_windows/vc12/cobcrun.vcxproj.filters -text
build_windows/vc12/config.h -text
build_windows/vc12/defaults.h -text
build_windows/vc12/libcob.vcxproj -text
build_windows/vc12/libcob.vcxproj.filters -text
build_windows/vc12/libsupport.vcxproj -text
build_windows/vc12/libsupport.vcxproj.filters -text
build_windows/vc7/GNU[!!-~]Cobol.sln -text
build_windows/vc7/cobc.vcproj -text
build_windows/vc7/cobcrun.vcproj -text
build_windows/vc7/config.h -text
build_windows/vc7/defaults.h -text
build_windows/vc7/libcob.vcproj -text
build_windows/vc8/GNU[!!-~]Cobol.sln -text
build_windows/vc8/cobc.vcproj -text
build_windows/vc8/cobc.vcproj.user -text
build_windows/vc8/cobcrun.vcproj -text
build_windows/vc8/cobcrun.vcproj.user -text
build_windows/vc8/config.h -text
build_windows/vc8/defaults.h -text
build_windows/vc8/libcob.vcproj -text
build_windows/vc8/libcob.vcproj.user -text
build_windows/vc9/GNU[!!-~]Cobol.sln -text
build_windows/vc9/cobc.vcproj -text
build_windows/vc9/cobc.vcproj.user -text
build_windows/vc9/cobcrun.vcproj -text
build_windows/vc9/cobcrun.vcproj.user -text
build_windows/vc9/config.h -text
build_windows/vc9/defaults.h -text
build_windows/vc9/libcob.vcproj -text
build_windows/vc9/libcob.vcproj.user -text
build_windows/version_cobc.rc -text
build_windows/version_cobcrun.rc -text
build_windows/version_libcob.rc -text
cobc/ChangeLog -text
cobc/Makefile.am -text
cobc/Makefile.in -text
cobc/cobc.c -text
cobc/cobc.h -text
cobc/codegen.c -text
cobc/codeoptim.c -text
cobc/codeoptim.def -text
cobc/config.c -text
cobc/config.def -text
cobc/error.c -text
cobc/field.c -text
cobc/flag.def -text
cobc/parser.c -text
cobc/parser.h -text
cobc/parser.y -text
cobc/pplex.c -text
cobc/pplex.l -text
cobc/ppparse.c -text
cobc/ppparse.def -text
cobc/ppparse.h -text
cobc/ppparse.y -text
cobc/reserved.c -text
cobc/scanner.c -text
cobc/scanner.l -text
cobc/tree.c -text
cobc/tree.h -text
cobc/typeck.c -text
cobc/warning.def -text
/compile -text
/config.guess -text
/config.h.in -text
/config.rpath -text
/config.sub -text
config/ChangeLog -text
config/Makefile.am -text
config/Makefile.in -text
config/bs2000.conf -text
config/cobol2002.conf -text
config/cobol85.conf -text
config/default.conf -text
config/ibm.conf -text
config/mf.conf -text
config/mvs.conf -text
/configure -text
/configure.ac -text
copy/ChangeLog -text
copy/Makefile.am -text
copy/Makefile.in -text
copy/screenio.cpy -text
copy/sqlca.cpy -text
copy/sqlda.cpy -text
/depcomp -text
doc/ChangeLog -text
doc/Makefile.am -text
doc/Makefile.in -text
doc/cbconf.tex -text
doc/cbhelp.tex -text
doc/cbinfo.tex -text
doc/cbintr.tex -text
doc/cbmnem.tex -text
doc/cbrese.tex -text
doc/cbsyst.tex -text
doc/cobcinfo.sh -text
doc/gnucobol.info -text
doc/gnucobol.pdf -text
doc/gnucobol.texi -text
doc/mdate-sh -text
doc/stamp-vti -text
doc/texinfo.tex -text
doc/version.texi -text
extras/CBL_OC_DUMP.cob -text
extras/Makefile.am -text
extras/Makefile.in -text
extras/README -text
/gnu-cobol.spec -text
/install-sh -text
lib/ChangeLog -text
lib/Makefile.am -text
lib/Makefile.in -text
lib/dummymac.c -text
lib/gettext.h -text
/libcob.h -text
libcob/ChangeLog -text
libcob/Makefile.am -text
libcob/Makefile.in -text
libcob/call.c -text
libcob/cobgetopt.c -text
libcob/cobgetopt.h -text
libcob/coblocal.h -text
libcob/common.c -text
libcob/common.h -text
libcob/exception.def -text
libcob/fileio.c -text
libcob/intrinsic.c -text
libcob/move.c -text
libcob/numeric.c -text
libcob/screenio.c -text
libcob/strings.c -text
libcob/system.def -text
libcob/termio.c -text
/ltmain.sh -text
m4/codeset.m4 -text
m4/gettext.m4 -text
m4/iconv.m4 -text
m4/intlmacosx.m4 -text
m4/lib-ld.m4 -text
m4/lib-link.m4 -text
m4/lib-prefix.m4 -text
m4/libtool.m4 -text
m4/ltoptions.m4 -text
m4/ltsugar.m4 -text
m4/ltversion.m4 -text
m4/lt~obsolete.m4 -text
m4/nls.m4 -text
m4/po.m4 -text
m4/progtest.m4 -text
/missing -text
/mkinstalldirs -text
po/ChangeLog -text
po/LINGUAS -text
po/Makefile.in.in -text
po/Makevars -text
po/POTFILES.in -text
po/Rules-quot -text
po/boldquot.sed -text
po/de.gmo -text
po/de.po -text
po/en.translate -text
po/en@boldquot.gmo -text
po/en@boldquot.header -text
po/en@boldquot.insert-header -text
po/en@boldquot.po -text
po/en@quot.gmo -text
po/en@quot.header -text
po/en@quot.insert-header -text
po/en@quot.po -text
po/es.gmo -text
po/es.po -text
po/fr.gmo -text
po/fr.po -text
po/gnu-cobol.pot -text
po/insert-header.sin -text
po/ja.gmo -text
po/ja.po -text
po/nl.gmo -text
po/nl.po -text
po/quot.sed -text
po/remove-potcdate.sin -text
po/stamp-po -text
/tarstamp.h -text
tests/ChangeLog -text
tests/Makefile.am -text
tests/Makefile.in -text
tests/atlocal.in -text
tests/atlocal_win -text
tests/cobol85/DB.txt -text
tests/cobol85/DBNOIX.txt -text
tests/cobol85/EXEC85.conf.in -text
tests/cobol85/IC.txt -text
tests/cobol85/IF.txt -text
tests/cobol85/IX.txt -text
tests/cobol85/Makefile.am -text
tests/cobol85/Makefile.in -text
tests/cobol85/NC.txt -text
tests/cobol85/OB.txt -text
tests/cobol85/README -text
tests/cobol85/RL.txt -text
tests/cobol85/RW.txt -text
tests/cobol85/SG.txt -text
tests/cobol85/SM.txt -text
tests/cobol85/SQ.txt -text
tests/cobol85/ST.txt -text
tests/cobol85/expand.pl -text
tests/cobol85/report.pl -text
tests/cobol85/summary.pl -text
tests/cobol85/summary.txt -text
tests/cobol85/summarynoix.txt -text
tests/package.m4 -text
tests/testsuite -text
tests/testsuite.at -text
tests/testsuite.src/data_binary.at -text
tests/testsuite.src/data_display.at -text
tests/testsuite.src/data_packed.at -text
tests/testsuite.src/data_pointer.at -text
tests/testsuite.src/numeric-display.cob -text
tests/testsuite.src/numeric-dump.cob -text
tests/testsuite.src/run_accept.at -text
tests/testsuite.src/run_extensions.at -text
tests/testsuite.src/run_functions.at -text
tests/testsuite.src/run_fundamental.at -text
tests/testsuite.src/run_initialize.at -text
tests/testsuite.src/run_misc.at -text
tests/testsuite.src/run_refmod.at -text
tests/testsuite.src/run_reportwriter.at -text
tests/testsuite.src/run_returncode.at -text
tests/testsuite.src/run_subscripts.at -text
tests/testsuite.src/syn_copy.at -text
tests/testsuite.src/syn_definition.at -text
tests/testsuite.src/syn_expression.at -text
tests/testsuite.src/syn_misc.at -text
tests/testsuite.src/syn_move.at -text
tests/testsuite.src/syn_multiply.at -text
tests/testsuite.src/syn_occurs.at -text
tests/testsuite.src/syn_redefines.at -text
tests/testsuite.src/syn_reportwriter.at -text
tests/testsuite.src/syn_set.at -text
tests/testsuite.src/syn_subscripts.at -text
tests/testsuite.src/syn_value.at -text
