/*.edited
/*.gcda
/*.gcno
/*.patch
/*.tmp
/.deps
/Makefile
/Makefile.in
/aclocal.m4
/atlocal
/autom4te.cache
bin/*.1
bin/*.edited
bin/*.exe
bin/*.gcda
bin/*.gcno
bin/.deps
bin/Makefile
bin/Makefile.in
bin/atlocal
bin/cob-config
bin/cobcrun
build_windows/*.7z
build_windows/*.bak
build_windows/*.h
build_windows/*.ncb
build_windows/*.sdf
build_windows/*.suo
build_windows/*.user
build_windows/Win32
build_windows/dist
build_windows/ia64
build_windows/vc10/*.bak
build_windows/vc10/*.ncb
build_windows/vc10/*.opensdf
build_windows/vc10/*.sdf
build_windows/vc10/*.suo
build_windows/vc10/*.user
build_windows/vc10/Win32
build_windows/vc10/ia64
build_windows/vc10/ipch
build_windows/vc10/x64
build_windows/vc11/*.bak
build_windows/vc11/*.ncb
build_windows/vc11/*.sdf
build_windows/vc11/*.suo
build_windows/vc11/*.user
build_windows/vc11/Win32
build_windows/vc11/dist
build_windows/vc11/ia64
build_windows/vc11/x64
build_windows/vc12/*.bak
build_windows/vc12/*.ncb
build_windows/vc12/*.sdf
build_windows/vc12/*.suo
build_windows/vc12/*.user
build_windows/vc12/Win32
build_windows/vc12/dist
build_windows/vc12/ia64
build_windows/vc12/x64
build_windows/vc14/*.bak
build_windows/vc14/*.ncb
build_windows/vc14/*.sdf
build_windows/vc14/*.suo
build_windows/vc14/*.user
build_windows/vc14/Win32
build_windows/vc14/dist
build_windows/vc14/ia64
build_windows/vc14/x64
build_windows/vc8/*.bak
build_windows/vc8/*.ncb
build_windows/vc8/*.sdf
build_windows/vc8/*.suo
build_windows/vc8/*.user
build_windows/vc8/Win32
build_windows/vc8/dist
build_windows/vc8/ia64
build_windows/vc8/ipch
build_windows/vc8/x64
build_windows/vc9/*.bak
build_windows/vc9/*.ncb
build_windows/vc9/*.sdf
build_windows/vc9/*.suo
build_windows/vc9/*.user
build_windows/vc9/Win32
build_windows/vc9/dist
build_windows/vc9/ia64
build_windows/vc9/x64
build_windows/x64
/cob-config
cobc/*.1
cobc/*.dot
cobc/*.edited
cobc/*.exe
cobc/*.gcda
cobc/*.gcno
cobc/*.output
cobc/*.vcg
cobc/.deps
cobc/Makefile
cobc/Makefile.in
cobc/atlocal
cobc/cobc
cobc/parser.c
cobc/parser.h
cobc/pplex.c
cobc/ppparse.c
cobc/ppparse.h
cobc/scanner.c
/conf*.dir
/conf*.file
/confdefs.h
/config.h
/config.h.in
/config.log
/config.status
config/.deps
config/Makefile
config/Makefile.in
config/atlocal
/configure
/conftest*
copy/.deps
copy/Makefile
copy/Makefile.in
copy/atlocal
/defaults.h
doc/*.cps
doc/*.tex
doc/*.vrs
doc/.deps
doc/Makefile
doc/Makefile.in
doc/atlocal
doc/gnucobol.aux
doc/gnucobol.cp
doc/gnucobol.fn
doc/gnucobol.info
doc/gnucobol.ky
doc/gnucobol.log
doc/gnucobol.pdf
doc/gnucobol.pg
doc/gnucobol.t2p
doc/gnucobol.toc
doc/gnucobol.tp
doc/gnucobol.vr
doc/stamp-vti
doc/version.texi
extras/*.dll
extras/Makefile
extras/Makefile.in
/gnu-cobol-*
lib/.deps
lib/Makefile
lib/Makefile.in
lib/atlocal
libcob/*.3
libcob/*.edited
libcob/*.gcda
libcob/*.gcno
libcob/.deps
libcob/Makefile
libcob/Makefile.in
libcob/atlocal
/libtool
m4/.deps
m4/Makefile
m4/atlocal
po/*.gmo
po/*.po~
po/.deps
po/Makefile
po/Makefile.in
po/POTFILES
po/atlocal
po/en@boldquot.gmo
po/en@boldquot.insert-header
po/en@boldquot.po
po/en@quot.gmo
po/en@quot.insert-header
po/en@quot.po
po/remove-potcdate.sed
/stamp-h1
/tarstamp.h
tests/.deps
tests/Makefile
tests/Makefile.in
tests/atconfig
tests/atlocal*
tests/cobol85/*.cob
tests/cobol85/*.log
tests/cobol85/.deps
tests/cobol85/DB
tests/cobol85/DBNOIX
tests/cobol85/EXEC85
tests/cobol85/IC
tests/cobol85/IF
tests/cobol85/IX
tests/cobol85/Makefile
tests/cobol85/Makefile.in
tests/cobol85/NC
tests/cobol85/OB
tests/cobol85/RL
tests/cobol85/RW
tests/cobol85/SG
tests/cobol85/SM
tests/cobol85/SQ
tests/cobol85/ST
tests/cobol85/copy
tests/cobol85/copyalt
tests/cobol85/newcob.val*
tests/testsuite
tests/testsuite.dir
tests/testsuite.log
tests/testsuite.src/Makefile
tests/testsuite.src/atlocal
